<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>travelAgency</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddDriver</display-name>
    <servlet-name>AddDriver</servlet-name>
    <servlet-class>AddDriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDriver</servlet-name>
    <url-pattern>/AddDriver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadDriverPhoto</display-name>
    <servlet-name>DownloadDriverPhoto</servlet-name>
    <servlet-class>DownloadDriverPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadDriverPhoto</servlet-name>
    <url-pattern>/DownloadDriverPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDriverPhoto</display-name>
    <servlet-name>ViewDriverPhoto</servlet-name>
    <servlet-class>ViewDriverPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDriverPhoto</servlet-name>
    <url-pattern>/ViewDriverPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDriver</display-name>
    <servlet-name>UpdateDriver</servlet-name>
    <servlet-class>UpdateDriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDriver</servlet-name>
    <url-pattern>/UpdateDriver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendMail</display-name>
    <servlet-name>sendMail</servlet-name>
    <servlet-class>sendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendMail</servlet-name>
    <url-pattern>/sendMail</url-pattern>
  </servlet-mapping>
</web-app>